.main-nav {
  position: relative;
  width: auto;
  min-height: 66px;

  &__toggle {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    background: transparent;
    cursor: pointer;
  }

  &--closed &__toggle::before {
    content: "";
    position: absolute;
    top: -30px;
    right: 5px;
    width: 24px;
    height: 1.5px;
    background-color: $black;
    box-shadow: 0 8px 0 0 $black, 0 16px 0 0 $black;
  }
}

.main-nav--opened .main-nav__toggle {

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: $black;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.main-nav__list {
  @include list-style-clear;
  // position: absolute;
}

.main-nav__item {
  width: 100%;
  border-top: 1px solid $border-grey;
}

.main-nav__link {
  @include link-style-clear;
  position: relative;
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 22px auto 24px;
  text-align: center;
}


@media (min-width: $tablet-width) {
  .main-nav {
    width: 440px;
    margin: 0 auto;

    &__toggle {
      display: none;
    }

    &__list {
      display: flex;
      justify-content: space-between;
    }

    &__item:not(:last-child) {
      margin-right: 35px;
    }

    &__link {
      font-weight: 400;
      font-size: 18px;
      line-height: 24px;
    }
  }
}
