.types-catalogs__list {
  @include list-style-clear;
}

.types-catalogs__item {
  background-color: $basic-grey;
}

.types-catalogs__header {
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
}

.types-catalogs__description {
  font-family: "Arial", sans-serif;
}

.types-catalogs__link {
  @include link-style-clear;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
